interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/customers?size=50&page=1
    response:
      body:
        string:
          '[{"id": "N7v1duJIv8rvrUr", "name": "i9wztyc", "customer_type": "business",
          "description": "", "parent_customer": "", "website": "", "payment_terms":
          "Due on Receipt", "billing_cycle_day": "16th Day Of The Month", "billing_contact_id":
          "CT-88158", "shipping_contact_id": "CT-88158", "status": "Active", "billing_batch":
          "Default", "tax_exempt": false, "balance": "50713.0", "auto_pay": true, "currency":
          "USD", "edit_auto_pay": true, "price_book_id": "", "cmrr": "22286.0", "discounted_cmrr":
          "20131.0", "payment_gateway_id": "cus_IDPTYwyH63H9uZ", "gateway_name": "Stripe",
          "payment_options": {"ach_enabled": true, "credit_enabled": true}, "delivery_preferences":
          {"print": true, "email": true}, "contacts": [{"id": "CT-88158", "customer_id":
          "N7v1duJIv8rvrUr", "first_name": "nl0o6ovri528wjrmlvrigsy4g81qihterlwh7gl", "last_name":
          "fdim652c4f2zkcv7yebehn9wwq", "display_name": "hmf39rknmu0i4xnaqjil1hks019i0teb3nn2",
          "email": "cet5b3uc@example.com", "phone": "", "mobile": "", "job_title": "",
          "department": "", "notes": "", "address1": "", "address2": "", "city": "",
          "state": "", "zip": "", "county": "", "country": "", "created_by": "7ad5l6p4@example.com",
          "updated_by": "fk3etztr@example.com", "created_date": "2020-10-16T19:31:19.549Z",
          "updated_date": "2020-10-16T19:31:19.549Z", "custom_fields": {}, "salesforce_id":
          "yujvg89zx8ykrfold1wozvey3"}], "created_by": "e5ybe1ko@example.com", "updated_by":
          "4w4qt377@example.com", "created_date": "2020-10-16T19:31:19.502Z", "updated_date":
          "2020-10-16T19:32:54.563Z", "pay_now_url": "at6q5masw265um515ispd5uskustcos2lx0",
          "update_payment_method_url": "xwqlbzehivqjo30p", "open_invoices_url": "4p5tjvzqhp",
          "custom_fields": {}, "salesforce_id": "ui2rj1q5m9kg8h1b9o", "other_email":
          "", "quickbooks_id": "", "crexi_account_global_id": "", "sf_account_id": "",
          "crexi_user_sales_id": "", "stripe_customer_id": "", "crexi_customer_type":
          "jxevlybopag4n"}, {"id": "cozNeo20GBHCWLu", "name": "belczvbzhbtc1seqrrftkenvd",
          "customer_type": "business", "description": "", "parent_customer": "", "website":
          "", "payment_terms": "Due on Receipt", "billing_cycle_day": "16th Day Of The
          Month", "billing_contact_id": "CT-88159", "shipping_contact_id": "CT-88159",
          "status": "Active", "billing_batch": "Default", "tax_exempt": false, "balance":
          "74522.0", "auto_pay": true, "currency": "[...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/customers?size=50&page=3
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"a6cb407a1bdb9d21587a359c70c4bf7f"
        x-amz-apigw-id:
          - V1lq5HpsIAMFY0Q=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Wed, 11 Nov 2020 10:00:38 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - 9421733f-5dfa-4669-ade5-53a474822f7a
      status:
        code: 200
        message: OK
