interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/invoices?sort=updated_date,id&size=50&page=1&updated_date%3E=2020-11-10T00%3A00%3A00.000000Z
    response:
      body:
        string:
          '[{"id": "INV-06011", "customer_id": "Tf4lCBZLFQwJJHM", "billing_contact":
          {"zip": "mohcr4c15u7zn30tji", "city": "6czu4", "email": "qvbjgdte@example.com",
          "phone": "", "state": "46tnbhnz8tmhgklvv2hhkyzikd48nt9qsxsjy18yrdcsw0", "county":
          "", "mobile": "", "country": "yoluvps6febu2cuhrbsy3do2ksdwp9ya5l", "address1":
          "xyq68200cstjd2kwgf3rjiads8bglnvtjqglr", "address2": "", "job_title": "",
          "last_name": "4c4cmwdb6c3udqf786frq", "department": "", "first_name": "sndp3b0ybap6bcp7aosamw3bxp",
          "display_name": "hjuvr8zntv6e2qjbznkckgvtnb0k5f1jp9qkax3"}, "shipping_contact":
          {"zip": "y0qbdsu94rjlueqq72", "city": "96ljgtobqwz3th69dlcmzhd6gakpbu4", "email":
          "hzyu1aj7@example.com", "phone": "", "state": "kqdhyo52fulkr5friktj0958k7wqt93usfcf",
          "county": "", "mobile": "", "country": "g0xc6ft3zfkwfxq0lea3opw5lp4eps3di00se57gm4",
          "address1": "p7g6bmd7dwp2qefkyteuctitila5qdxg04t34w6ldxs", "address2": "",
          "job_title": "", "last_name": "mzjkz5tihgqrez8fh935", "department": "", "first_name":
          "gx85kbtndretb5zd6t3qo3rww", "display_name": "umrp56mbkenwopve9fu5c4vnymgviw7vbv4gdt"},
          "customer_name": "c6n02hig9ttf", "invoice_date": "2020-11-06", "due_date":
          "2020-11-06", "start_date": "2020-10-20", "end_date": "2020-11-19", "billing_run_id":
          "BR-02340", "subtotal": "22160.0", "invoice_tax": "70856.0", "invoice_amount":
          "44735.0", "paid_amount": "46311.0", "balance": "19552.0", "status": "Partially
          paid", "notes": "", "invoice_pdf_url": "zyu6hwpznfcr8c3c", "currency": "USD",
          "payment_terms": "0", "created_date": "2020-11-06T08:01:30.410Z", "updated_date":
          "2020-11-10T21:27:26.955Z", "created_by": "heeyeg5i@example.com", "updated_by":
          "s1rkw1w4@example.com", "line_items": [{"line_no": "1", "subscription_id":
          "S-01245", "customer_id": "Tf4lCBZLFQwJJHM", "customer_name": "4", "product_id":
          "P-00005", "product_name": "hgaac9t09crpais2k8", "plan_id": "PLN-00013", "plan_name":
          "1z40xx8tjasz8wzu1k4boxa8amedj0ivrk", "charge_id": "CHG-00013", "subscription_line_id":
          "SCHG-01", "charge_name": "n2agax0y1u39t3r25acn0euzfultx", "charge_type":
          "recurring", "description": "b85rjlkgpypzupw14vsxb9do515deo", "start_date":
          "2020-10-20", "end_date": "2020-11-19", "unit_price": "1521.0", "list_price":
          "31562.0", "list_price_base": "Billing Period", "taxable": false, "quantity":
          11116.0, "discount": "0.0", "effective_price": "97861.0", "line_tax": "21599.0",
          "tax_lines": [], "applied_tiers": "", "custom_fields": {}}], "subtotals":
          [], "payments": [], "credits": [{"id": "CR-00175", "customer_id": "Tf4lCBZLFQwJJHM",
          "credit_date": "2020-11-10", "notes": "7podqrhzkdg5d98d1tedxny60wrubd7l99x3kgl942kbyrzqv",
          "status": "Processed", "credit_amount": "50.00", "applied_amount": "13484.0",
          "unapplied_amount": "67885.0", "currency": "USD", "reference_number": "",
          "auto_apply": true, "gl_account": "", "created_by": "bi7yhl93@example.com",
          "updated_by": "lkwgipy6@example.com", "created_date": "2020-11-10T21:26:55.946Z",
          "updated_date": "2020-11-10T21:27:21.763Z", "refunds": [], "custom_fields":
          {}, "credit_type": "COURTESY"}], "refunds": [], "custom_fields":
          {}, "quickbooks_id": "", "stripe_invoice_id": ""}, {"id": "INV-04720",
          "customer_id": "uiPfZCmRf6YcmM3", "billing_contact": {"zip": "", "city": "", "email":
          "8ssykjcp@example.com", "phone": "", "state": "", "county": "", "mobile":
          "", "country": "", "address1": "", "address2": "", "job_title": "", "last_name":
          "pfegs42j8xhpa4117h4r8qxsjjic4k3ul17somsltgr", "department": "", "first_name":
          "ch2zjx66v6dknyv9t05k", "display_name": "ctlysi39w3p6ftohbsfftxg07ioij"},
          "shipping_contact": [...]
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/invoices?sort=updated_date,id&size=50&page=3&updated_date%3E=2020-11-10T00%3A00%3A00.000000Z
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"30de784cb4147ea64c095699fd80452e"
        x-amz-apigw-id:
          - V2ipnHMOIAMF-_w=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Wed, 11 Nov 2020 16:56:56 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - 7e67d66f-8856-4146-8f94-0a1ff6472874
      status:
        code: 200
        message: OK
version: 1
