interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/plans?size=50&page=1
    response:
      body:
        string:
          '[{"id": "PLN-00121", "name": "fhynhq1m8siyza0ij360kph7nk9", "status":
          "Active", "description": "", "created_by": "k7hhqmld@example.com", "updated_by":
          "8e4tz48k@example.com", "created_date": "2020-08-20T21:52:27.245Z", "updated_date":
          "2020-08-20T21:52:27.245Z", "charges": [{"id": "CHG-00121", "product_id":
          "P-00207", "name": "ydhux10k6sx8emm701kq", "description": "", "type": "One
          time", "timing": "Initial", "billing_period": "", "effective_date": "Contract
          effective date", "charge_billing_date": "Contract effective date", "pricing_model":
          "Per unit", "list_price": "49569.0", "custom_fields": {"salesforce_id": "spj712iovvc5emwyuzx82j",
          "Type": ""}, "salesforce_id": "poyr9ta", "Type": ""}], "public_url": "", "custom_fields":
          {"Type": ""}, "Type": ""}, {"id": "PLN-00120", "name": "x7dh315h4o", "status":
          "Active", "description": "", "created_by": "zhq788si@example.com", "updated_by":
          "144gd9p8@example.com", "created_date": "2020-08-20T21:51:57.921Z", "updated_date":
          "2020-08-20T21:51:57.921Z", "charges": [{"id": "CHG-00120", "product_id":
          "P-00208", "name": "4k5q61bpttj814h6afimet7zg4ffwc8xum", "description": "",
          "type": "One time", "tim[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/plans?size=50&page=2
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"711f9d186fcd761d3e2eefe66d0c03b8"
        x-amz-apigw-id:
          - V0X5nGSEIAMFgFQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Wed, 11 Nov 2020 01:09:43 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - 9b4104ec-58e3-45a0-b19c-ed0e1d8bd739
      status:
        code: 200
        message: OK
version: 1
