interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/refunds?sort=updated_date,id&size=50&page=1&updated_date%3E=2020-11-11T22%3A24%3A58.660000Z
    response:
      body:
        string:
          '[{"id": "REF-00132", "customer_id": "S7udb9HK23hgQK2", "refund_date": "2020-11-11",
          "refund_amount": "50304.0", "refund_type": "Electronic", "payment_id": "PMT-05793",
          "refund_status": "Succeeded", "notes": "", "currency": "USD", "reference_number":
          "h1ofzjx7c3d", "conversion_rate": 96124.0, "created_by": "nbh4lxt5@example.com",
          "updated_by": "pi5he0ta@example.com", "created_date": "2020-11-11T22:24:57.000Z",
          "updated_date": "2020-11-11T22:24:58.660Z"}]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"05a997c94dc32a4547fb8de09651f951"
        x-amz-apigw-id:
          - V6ALFGU9IAMFuhA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Thu, 12 Nov 2020 18:09:11 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - 510df0a6-126c-4878-a470-7211a9108a06
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/refunds?sort=updated_date,id&size=50&page=2&updated_date%3E=2020-11-11T22%3A24%3A58.660000Z
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"05a997c94dc32a4547fb8de09651f951"
        x-amz-apigw-id:
          - V6ALFGU9IAMFuhA=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Thu, 12 Nov 2020 18:09:11 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - 510df0a6-126c-4878-a470-7211a9108a06
      status:
        code: 200
        message: OK
version: 1
