interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/refunds?sort=updated_date,id&size=50&page=1&updated_date%3E=2020-11-01T00%3A00%3A00.000000Z
    response:
      body:
        string:
          '[{"id": "REF-00120", "customer_id": "rLk3NloE8Cn1Pvo", "refund_date": "2020-11-02",
          "refund_amount": "33198.0", "refund_type": "Electronic", "payment_id": "PMT-05318",
          "refund_status": "Succeeded", "notes": "m661adkvdc0d7u3em2ky", "currency":
          "USD", "reference_number": "x7b6zlj21702xdxc0jyy30i85wd5l", "conversion_rate":
          94067.0, "created_by": "50qkpn6g@example.com", "updated_by": "01rrvf6z@example.com",
          "created_date": "2020-11-02T18:02:37.250Z", "updated_date": "2020-11-02T18:02:38.317Z"},
          {"id": "REF-00121", "customer_id": "XFhLE2GY6eNcSQl", "refund_date": "2020-11-02",
          "refund_amount": "96069.0", "refund_type": "Electronic", "payment_id": "PMT-05353",
          "refund_status": "Succeeded", "notes": "6727rxtwkksv80g92x6sh34", "currency":
          "USD", "reference_number": "f87vqnewvdcjpqp5jlspvvo77d6hsp9qsdfzgoe1213vwx4g4",
          "conversion_rate": 83467.0, "created_by": "zxdifhe4@example.com", "updated_by":
          "et05[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.ordwaylabs.com/api/v1/refunds?sort=updated_date,id&size=50&page=2&updated_date%3E=2020-11-01T00%3A00%3A00.000000Z
    response:
      body:
        string: "[]"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"71d29cd5b41c123b1b79d8b9cb80227c"
        x-amz-apigw-id:
          - V5-tCGaBoAMFXfw=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Thu, 12 Nov 2020 17:59:09 GMT
        x-amzn-Remapped-Server:
          - cloudflare
        x-amzn-RequestId:
          - d3e75a6f-cc4b-47d2-ae95-2f1a8f28d948
      status:
        code: 200
        message: OK
version: 1
